/protected/runtime/sessions/*
/protected/runtime/*
/web/assets/*
/.buildpath
/.project
/.settings
/.idea
/protected/runtime/user-config/*
/protected/extensions/sqlquery_old
/archiveExport.sh
vendor/*
